# **Python para an√°lise de dados(Pandas)** - *Fernanda Santos*

In [1]:
#importando a biblioteca pandas
import pandas as pd

In [4]:
df = pd.read_csv("../datasets/Gapminder.csv",error_bad_lines=False, sep=";")

In [5]:
#Visualizando as 5 primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [6]:
df = df.rename(columns={"country":"Pais", "continent": "continente", "year":"Ano", "lifeExp":"Expectativa de vida", "pop":"Pop Total", "gdpPercap": "PIB"})

In [7]:
df.head(10)

          Pais continente   Ano  Expectativa de vida  Pop Total         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106
5  Afghanistan       Asia  1977               38.438   14880372  786.113360
6  Afghanistan       Asia  1982               39.854   12881816  978.011439
7  Afghanistan       Asia  1987               40.822   13867957  852.395945
8  Afghanistan       Asia  1992               41.674   16317921  649.341395
9  Afghanistan       Asia  1997               41.763   22227415  635.341351

In [8]:
#Total de linhas e colunas
df.shape

(3312, 6)

In [9]:
df.columns

Index(['Pais', 'continente', 'Ano', 'Expectativa de vida', 'Pop Total', 'PIB'], dtype='object')

In [ ]:
df.dtypes

In [ ]:
df.tail(15)

In [ ]:
df.describe()

In [ ]:
df["continente"].unique()

In [ ]:
Oceania = df.loc[df["continente"] == "Oceania"]
Oceania.head()

In [ ]:
Oceania["continente"].unique()

In [ ]:
df.groupby("continente")["Pais"].nunique()

In [ ]:
df.groupby("Ano")["Expectativa de vida"].mean()

In [ ]:
df["PIB"].mean()

In [ ]:
df["PIB"].sum()